/* General CSS Starts */
body {
    background-color: #F6F6F6;
}

hr {
    height: 5px;
    width: 100%;
    color: #ff5252;
}

/* General CSS Ends */

/* ======================================= */

/* Header Section CSS Starts */

.active-link {
    color: #ff5252;
    border-bottom: 1px solid #ff5252;
}

.navbar-list-item li {
    margin-right: 20px;
}

.navbar-list-item li a:hover {
    color: #ff5252;
    border-bottom: 1px solid #ff5252;
}

.navbar-list-item li a:active {
    color: blueviolet;
}

/* News Category CSS Starts */

.list-category-container {
    display: flex;
    flex-wrap: wrap;
}

.category-list-items {
    list-style: none;
    background-color: #EEEEEE;
    color: #858585;
    padding: 5px 10px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.category-list-items:hover {
    color: #ff5252;
    border-bottom: 1px solid #ff5252;
}

/* News Category CSS Ends */

/* ======================================= */

/* News Container CSS Starts */

.news-info-container {
    background-color: #F6F6F6;
    color: #858585;
}

.author-details p {
    font-size: 16px;
}

.text-color {
    color: #858585;
}

/* News Container CSS Ends */

/* ======================================= */

/* Footer Section CSS Starts */

/* footer {
    position: absolute;
    top: auto;
    bottom: 0;
    width: 100%;
} */

/* Footer Section CSS Starts */